.paperStyle {
  padding: 20px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnstyle {
  margin: 8px 0;
}

.loginInput {
  margin: 8px auto !important;
}
