.textField {
  width: 190px;
  height: 20px;
  padding-top: 5px;
  border-radius: 5px;
}

.button {
  color: white;
  background-color: #0aa2d8;
  border: 1px solid;
  padding-bottom: 5px;
  height: 25px;
}

.chat {
  padding: 15px;
  color: white;
  background-color: #0aa2d8;
  border-radius: 10px;
  margin-right: 10px;
}

.senderChat {
  background-color: grey;
}
